<div class="content">
  <div class="content-item left-column">
    <mat-card class="dice">
      <mat-card-header>
        <mat-card-title>Endpass Dice</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="diceForm" id="diceForm">
          <div class="form-group">
            <mat-form-field>
              <label>Bet Amount</label>
              <input matInput formControlName="betAmount">
              <mat-error *ngIf="betAmountControl.hasError('required')">
                Bet Amount is required
              </mat-error>
              <mat-error *ngIf="betAmountControl.hasError('pattern')">
                Field is not a number
              </mat-error>
              <mat-error *ngIf="betAmountControl.hasError('min') || betAmountControl.hasError('max')">
                  Bet Amount should be greater than 1 and less than 100
                </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field>
              <label>Number</label>
              <input matInput formControlName="number">
              <mat-error *ngIf="numberControl.hasError('pattern')">
                Field is not Valid
              </mat-error>
            </mat-form-field>
          </div>
        </form>
        <div class="button-container">
          <button (click)="setBet({hi: true})" mat-raised-button color="primary"
            [disabled]="diceForm.invalid || diceFormSubmit">Bet HI</button>
          <div class="winning-info-box">
            <p>number >= {{numberControl.value}}</p>
            <p>chance: <strong>{{bet?.chanceHi}}%</strong></p>
            <p>payout <strong>{{bet?.payoutHi}}x</strong></p>
          </div>
        </div>
        <div class="button-container">
          <button (click)="setBet({hi: false})" mat-raised-button color="primary"
            [disabled]="diceForm.invalid || diceFormSubmit">Bet LO</button>
          <div class="winning-info-box">
            <p>number <= {{numberControl.value}}</p>
            <p>chance: <strong>{{bet?.chanceLo}}%</strong></p>
            <p>payout <strong>{{bet?.payoutLo}}x</strong></p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="content-item right-column">
    <mat-card class="user">
      <mat-card-content>
        <span>Balance: <strong>{{user.balance}}</strong> credits</span>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn-blok" mat-raised-button (click)="getFreeCredits()" [disabled]="user.balance > 0">Free Credits</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="hash">
      <mat-card-content>
        <p>Provably Fair Hash:</p>
        <strong>{{nextValueHash}}</strong>
      </mat-card-content>
    </mat-card>

    <mat-card class="result" *ngIf="diceFormSubmit" >
      <mat-card-content>
        <p>You're {{result.win ? 'WIN' : 'FAIL'}}</p>
        <strong>{{result.numbrer}}</strong>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn-blok" mat-raised-button color="accent" (click)="tryAgain()">Try Again</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
